html {
    overflow-y: scroll;
    scrollbar-width: thin;
}

.layout-sidebar {
    scrollbar-width: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: darkgrey;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}